<footer class="simple-footer">
    <div class="footer-content">
      &copy; {{ 'now' | date: '%Y' }} Duaselipar | 
      <a href="https://github.com/duaselipar" target="_blank">GitHub</a>
    </div>
  
    <style>
      .simple-footer {
        background-color: white;
        color: #333;
        text-align: center;
        padding: 15px 0;
        margin-top: 30px;
        border-top: 1px solid #eaeaea;
        font-size: 14px;
      }
      .simple-footer a {
        color: #0366d6;
        text-decoration: none;
      }
      .simple-footer a:hover {
        text-decoration: underline;
      }
    </style>
  </footer>